<!-- Navigation -->
    <div class="navigation">
        <div class="container">
            <header class="navbar" id="top" role="banner">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a href="/"><%= image_tag "logo.png" %></a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><%= link_to "Home", root_path %></li>
                        <% if current_user %>
                          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                          <li><%= link_to current_user.email, edit_user_registration_path %></li>
                        <% else %>
                          <li><%= link_to "Sign in", new_user_session_path %></li>
                          <li><%= link_to "Create Account", new_user_registration_path %></li>
                        <% end %>
                    </ul>
                </nav><!-- /.navbar collapse-->
            </header><!-- /.navbar -->
        </div><!-- /.container -->
    </div><!-- /.navigation -->
    <!-- end Navigation -->
