<!DOCTYPE html>
<html>
<head>
  <title>Commissions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="page-sub-page page-create-account page-account" id="page-top">
  <div class="wrapper">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyC8_5PQjZxAuVYV9OEQPz9d2HLCZfKaso0"
      async defer></script>
</body>
</html>
